
node_modules/
.git/
.github/

apps/**/node_modules
apps/**/.next
apps/**/out
apps/**/dist
apps/**/coverage
apps/**/tests
apps/**/.env*

packages/**/node_modules
packages/**/.next
packages/**/out
packages/**/dist
packages/**/coverage
packages/**/tests
packages/**/.env*

subgraphs/**/node_modules
subgraphs/**/.next
subgraphs/**/out
subgraphs/**/dist
subgraphs/**/coverage
subgraphs/**/tests
subgraphs/**/.env*

contracts/
