[submodule "contracts/bsc/lib/flt"]
	path = contracts/bsc/lib/flt
	url = https://github.com/risedle/flt
[submodule "contracts/bsc/lib/forge-std"]
	path = contracts/bsc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/bsc/lib/openzeppelin-contracts"]
	path = contracts/bsc/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
