name: "@risedle/quotes"

on:
  push:
    branches:
      - main
    paths:
      - "packages/quotes/**"
      - ".github/workflows/risedle-quotes-release.yml"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: "18.7.0"
          cache: "npm"
      - name: Cache node_modules
        id: cache-nodemodules
        uses: actions/cache@v2
        with:
          path: node_modules
          key:
            # prettier-ignore
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Remove prepare script
        run: npm pkg delete scripts.prepare
      - name: Remove postinstall script
        run: npm pkg delete scripts.postinstall
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
        working-directory: ./packages/quotes
      - name: Test
        run: npm test
        working-directory: ./packages/quotes
      - name: Set access to public
        run: npm config set access public
        working-directory: ./packages/quotes
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_NAME: Risedle
          GIT_AUTHOR_EMAIL: github@risedle.com
          GIT_COMMITTER_NAME: Risedle
          GIT_COMMITTER_EMAIL: github@risedle.com
        run: npx semantic-release
        working-directory: ./packages/quotes
