name: storybook

on:
  push:
    branches:
      - main
    paths:
      - "apps/storybook/**"
      - "packages/ui/**"
  pull_request:
    branches:
      - main
    paths:
      - "apps/storybook/**"
      - "packages/ui/**"

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment:
      name: storybook
      url: ${{ steps.publish.outputs.url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: "17.8.0"
          cache: "npm"
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build-storybook
        working-directory: ./apps/storybook
      - name: Copy build
        run: mv ./apps/storybook/storybook-static .
      - name: Publish
        uses: cloudflare/pages-action@1
        id: publish
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: "risedle-monorepo-storybook"
          directory: "storybook-static"
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
